<!-- <div class="d-flex flex-column gap-2">
    <div class="form-group">
        <label class="form-label">Search for User id</label>
        <input type="number" class="form-control" #userId>
        <div *ngIf="userNotFound" class="text-danger">User Id not found!</div>
        <button (click)="onClick()" class="btn btn-primary mt-2">Delete</button>
    </div>
</div> -->

<div class="d-flex flex-column gap-2">
    <app-crud-user-search (userFound)="onUserFound($event)"></app-crud-user-search>

    <div *ngIf="foundUser" class="d-flex flex-column gap-2">
        <app-person-card [person]="foundUser"></app-person-card>
        <app-danger-are-you-sure (confirm)="onConfirm($event)"></app-danger-are-you-sure>
    </div>
</div>
