<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Event Binding Example</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="fx-layout-column fx-gap--10px">
      <div class="fx-layout-row fx-align--x-center fx-gap--10px">
        <div>Button is clicked {{ times }} times</div>

        <button mat-raised-button color="primary" (click)="increaseCounter()">
          Click me
        </button>

        <button mat-raised-button color="warn" (click)="resetCounter()">
          Reset Counter
        </button>
      </div>
      <div class="fx-layout-row fx-align--x-center fx-gap--10px">
        <div>
          <mat-form-field>
            <mat-label>Start typing here</mat-label>
            <input matInput [value]="userInput" (input)="onUserInput($event)" />
          </mat-form-field>
        </div>

        <p>{{ userInput }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>