<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Welcome to Angular Introduction</mat-card-title>
            <mat-card-subtitle>Coding Factory 4</mat-card-subtitle>
            <img mat-card-sm-image src="/assets/logo.jpg">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Welcome to Angular Introduction. Nice to have you here</p>
        <p>Please select an example from the left menu</p>
    </mat-card-content>
</mat-card>
